<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'sandyhogan.jpg', width: '300', alt: 'profile image' %>
  </div>
  
  <div class="col-md-8">
    <p>Hi, I'm Sandy Hogan - a self-taught web developer who is excited to be learning about "all things coding". 
    I'm currently enrolled at Flatiron School, with the goal of completing their online Full Stack Web Development program. 
    I've also been a big fan of TeamTreehouse and Udemy, as well as other online courses and tutorials; 
    worked my way through a couple different Blueprints from Skillcrush and many other free coding resources online.
    </p>
    <p>While learning to code and getting into web development, I have continued to work full-time running my own 
    pet sitting company, Pawprints & HoofBeats. My business website has been my long-time training ground of 
    experimenting with learning to code for the past 12 years that I have been in business.
    </p>
    <p>I have an Associates degree in Applied Animal Science from the Thompson School of Applied Sciences, 
    at the University of New Hampshire. I would love to somehow be able join my 2 passions; animals and coding, 
    to create web applications that would help animal related businesses, such as veterinarians, pet care providers, 
    shelters and rescue organizations provide professional services to their communities and animal charges.</p>
  </div>
</div>