<h1>Pages#contact</h1>

<p><%= number_to_phone "2035556565" %></p>


<p><%= number_to_currency "2134" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "213438749387" %></p>