<!--<h1>Hi, <%= current_user.first_name if current_user %>!</h1>-->
<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<!--<h2>Blog Posts</h2>-->
<!--<%= @posts.inspect %>-->

<!--<h2>Skills</h2>-->
<!--<%= @skills.inspect %>-->

<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">This project is a deep dive adventure project on building a feature rich Ruby on Rails application. This will also become my online home to showcase my portfolio projects and skills on my journey to becoming a Full Stack Web Developer.<p class="lead">
    <%= link_to 'About Me', about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>

       

